---
---

<a 
  href="https://wa.me/553131570391?text=Olá!%20Vim%20da%20página%20de%20vendas%20da%20FM%2C%20quero%20tirar%20dúvidas!"
  class="fixed bottom-6 right-6 z-50 bg-gradient-to-r from-primary-500 to-primary-600 hover:from-primary-400 hover:to-primary-500 rounded-full p-3 shadow-lg hover:shadow-xl transition-all duration-300 group"
  target="_blank"
  rel="noopener noreferrer"
>
  <img 
    src="/faviconwhatsapp.webp" 
    alt="WhatsApp" 
    width="40" 
    height="40"
    class="w-10 h-10 group-hover:scale-110 transition-transform duration-300"
  />
</a>